/* Basic Layout */
.container {
	max-width:700px;
}

.center {
	text-align:center;
}

.navbar .nav li.disabled a {
	color:#ccc !important;
}

.brand small {
	font-size:12px;
}

#content {
	padding-top:20px;
}

.jumbotron {
	text-align:center;
	margin:50px 0;
}
.jumbotron h1 {
	font-size:100px;
	line-height:120px;
}

#fileupload {
	position:relative;
	left:0;
}
