{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
	<div class="row-fluid">
		<div class="jumbotron">
			<h1>Tweetool</h1>
			<p class="lead">Tweetool gives you the features Twitter should already have.</p>
		</div>
	</div>
	<div class="row-fluid"><hr /></div>
	
	<div class="row-fluid">
		<div class="span6">
			<h4>Avatar Uploading</h4>
			<p>
				Remember when you could upload animated GIFs and full-size avatars? Have it back.
			</p>
		</div>
		<div class="span6 muted">
			<h4>List Management <small>(Not yet implemented)</small></h4>
			<p>
				Add and remove people from lists quickly. Want to add yourself to a list? Go right ahead.
			</p>
		</div>
	</div>
	
	<div class="row-fluid"><hr /></div>
	
	<footer class="row-fluid">
		<div class="span6 offset3 muted center">
			<p>Tweetool is a work in progress. Send suggestions to <a href="http://twitter.com/uppfinnarn">@uppfinnarn</a>!</p>
		</div>
	</footer>
{% endblock %}